<%- include('./_partials/head') %>

    <div class="homepage-all">
        <div class="homepage-partners">
            <div class="homepage-partners2">
                <h1>Welcome to game.it!</h1>
                <h2>make friends. play games.</h2>
                <form action='/games/search' method='GET'>
                    <input class="input is-info search" type='text' name='title' placeholder='Search Games'>
                    <button class="button is-link is-outlined is-rounded is-small search" type='submit'>Search</button>
                </form>
            </div>
        </div>
    </div>

    <br>

    <h1>Popular Games</h1>

    <br>

    <div class="card">
        <ul class="user-lib-prof">
            <% games.forEach( function(game) { %>
                <div class="card-content">
                    <div class="content">
                        <a href="/games/<%= game.apiId %>">
                            <img class="avatar-lib" src=<%=g ame.coverImage %>>
                            <li>
                                <%= game.title %>
                            </li>
                        </a>
                    </div>
                </div>
                <% }); %>
        </ul>
    </div>

    <%- include('./_partials/footer') %>