<%- include('../_partials/head') %>

    <h1><%= game.title %></h1>
    <img src=<%= game.coverImage %>>
    <p>Platforms:
        <% if (game.platforms === undefined) { %> 
            <% game.platforms.forEach(function(platform) { %> 
                <%= platform !== game.platforms[game.platforms.length -1] ? platform.name + ", " : platform.name %>
            <% }); %>
        <% } else { %>
            No Platform Information Available
        <% } %>
    </p>
    <p><%= game.description %></p>
    <% console.log(platforms) %>
    <% if (game.gameUsers.some( u => u.equals(user.id))) { %>
        <p>
            <form action="/users/<%= user.id %>/games/<%= game._id %>?_method=DELETE" method="post">
                <button class="button is-link is-outlined is-rounded is-small remove" type="submit">Remove Game</button>
            </form>
        </p>
        <% } else { %>
            <p>
                <form action="/users/<%= user._id %>/games/<%= game._id %>" method="post">
                    <button class="button is-link is-outlined is-rounded is-small remove" type="submit">Add To Library</button>
                </form>
            </p>
    <% } %>

    <h1>Players</h1>
    <% if (game.gameUsers) { %>
        <%= console.log(game.gameUsers) %>
        
        <ul>
            <% game.gameUsers.forEach(function(user) { %>
                <li class="show-user-games">
                    <a href="/users/<%= user.id %>"><%= user.username %></a> <p><%= user.platforms %></p>
                </li> 
            <% }); %>
        </ul>
        <% } %>

<%- include('../_partials/footer') %>