<%- include('../_partials/head') %>

    <h1><%= game.title %></h1>
    <img src=<%= game.coverImage %>>
    <p>Platforms: <%= game.platforms %></p>
    <p><%= game.description %></p>

    <h2>Players</h2>
    <% if (game.users) { %>
        <ul>
            <% game.users.forEach(function(user){ %>
                <li>
                    <%= user.username %></a> - <small><%= user.platforms %></small>
                </li> 
            <% }); %>
        </ul>
        <p>
            <form action="/users/<%= user._id %>/games/<%= game._id %>" method="post">
                <button type="submit">Add To Library</button>
            </form>
        </p>
    <% } else { %>
        <form action="/users/<%= user._id %>/games/<%= game._id %>" method="post">
            <button type="submit">Add To Library</button>
        </form>
    <% } %>

<%- include('../_partials/footer') %>