<%- include('../_partials/head') %>

    <h2>Welcome to game.it, <%= user.name %>!</h2>
    <h3>create your profile below</h3>
    <% console.log(user.platforms) %>
    <img src="<%= user.avatar %>">
    <form action="/users?_method=PUT" method="POST">
        <label>Username: </label><br>
        <input class="input is-info" type="text" name="username" value=<%= user.username ? user.username : '' %>><br><br>
        <label>Platform: </label><br><br>
        <label>PC (Microsoft Windows)</label>   
        <input type="checkbox" value="PC (Microsoft Windows)" name="platforms" <%= user.platforms.includes('PC (Microsoft Windows)') ? 'checked = checked' : '' %>><br>
        <label>PlayStation 4</label>
        <input type="checkbox" value="PlayStation 4" name="platforms" <%= user.platforms.includes('PlayStation 4') ? 'checked = checked' : '' %>><br>
        <label>Xbox One</label>
        <input type="checkbox" value="Xbox One" name="platforms" <%= user.platforms.includes('Xbox One') ? 'checked = checked' : '' %>><br>
        <label>Linux</label>
        <input type="checkbox" value="Linux" name="platforms" <%= user.platforms.includes('Linux') ? 'checked = checked' : '' %>><br>
        <label>Mac</label>
        <input type="checkbox" value="Mac" name="platforms" <%= user.platforms.includes('Mac') ? 'checked = checked' : '' %>><br>
        <label>Nintendo Switch</label>
        <input type="checkbox" value="Nintendo Switch" name="platforms" <%= user.platforms.includes('Nintendo Switch') ? 'checked = checked' : '' %>> <br>
        <label>PlayStation 3</label>
        <input type="checkbox" value="PlayStation 3" name="platforms" <%= user.platforms.includes('PlayStation 3') ? 'checked = checked' : '' %>><br>
        <label>Xbox 360</label>
        <input type="checkbox" value="Xbox 360" name="platforms" <%= user.platforms.includes('Xbox 360') ? 'checked = checked' : '' %>><br>
        <br><br>
        <label>Age: </label><br>
        <input class="input is-info" type="text" name="age"><br><br>
        <label>Gender: </label><br>
        <input class="input is-info" type="text" name="gender"><br><br>
        <label>Timezone: </label><br>
        <input class="input is-info" type="text" name="timezone"><br><br>
        <a class="button is-link is-outlined is-rounded is-small" type='submit' value="Create User">Create User</a>
    </form>


<%- include('../_partials/footer') %>