<%- include('../_partials/head') %>

    <h1>All Users</h1>
    <ul>
        <% users.forEach( function(user) { %>
            <li class="all-users">
                <a href="/users/<%= user.id %>">
                    <img class="avatar-edit" src="<%= user.avatar %>">
                    <p class="username-show"><%= user.username %></p>
                </a>
            </li>
            <% }); %>
    </ul>

    <%- include('../_partials/footer') %>