<%- include('../_partials/head') %>

    <h1>game.it</h1>
    <h2>User Library Page</h2>

    <% if (user.games.length) { %>
        <ul>
            <%= console.log(user.games) %>
            <% user.games.forEach(function(game){ %>
                <li>
                    <img src=<%= game.coverImage %>>
                    <p><a href="/games/<%= game.apiId %>"><%= game.title %></a></p>
                    <small><a href="/users/<%= user.id %>/games/<%= game._id %>?_method=DELETE" method="post">Remove Game</a></small>
                </li>
                <br>
                <% }); %>
                <li>
                    <button class="button is-link is-outlined is-rounded is-small show" value="Edit Profile"><a class="edit-btn" href="/users/profile">Profile</a></button>
                </li>
            </ul>
            <% } else { %>
                <p>Search for games to add to your library!</p>
                <button class="button is-link is-outlined is-rounded is-small show" value="Edit Profile"><a class="edit-btn" href="/users/profile">Profile</a></button>
    <% } %>

<%- include('../_partials/footer') %>