<%- include('../_partials/head') %>
    
        <div class="profile-info">
            <div class="user-info">
                <article class="media">
                        <figure class="media-left">
                            <img class="avatar" src="<%= user.avatar %>">
                        </figure>
                            <h5><%= user.username %></h5>
                    </article>
                <h6 class="property-titles">Age:&nbsp&nbsp<%= user.age %></h6><br>
                <h6 class="property-titles">Gender:&nbsp&nbsp<%= user.gender %></h6><br>
                <h6 class="property-titles">Timezone:&nbsp&nbsp<%= user.timezone %></h6><br>
                <% if ( user.platforms.length === 0 ) { %>
                    <p>No platforms added yet.</p>
                <% } else { %>
                    <ul>
                    <h6 class="property-titles">Platforms:</h6>
                        <% user.platforms.forEach( function(platform) { %>
                            <li class="profile-platforms"><%= platform !== user.platforms[user.platforms.length -1] ? platform + ", " : platform %></li>
                        <% }) %>
                    </ul>    
                <% } %><br>
                <button class="button is-link is-outlined is-rounded is-small show" value="Edit Profile"><a class="edit-btn" href="/users/edit">Edit Profile</a></button>
            </div>
        </div>

    <hr>

    <h1>User Library:</h1>
        <% if (user.games.length) { %>
            <ul>
                <% user.games.forEach(function(game){ %>
                    <li>
                        <img src=<%= game.coverImage %>>
                        <p><a href="/games/<%= game.apiId %>"><%= game.title %></a></p>
                        <small><a href="/users/<%= user.id %>/games/<%= game._id %>?_method=DELETE" method="post">Remove Game</a></small>
                    </li>
                    <br>
                    <% }); %>
                    <li>
                        <button class="button is-link is-outlined is-rounded is-small show" value="Edit Profile"><a class="edit-btn" href="/users/library">Library</a></button>
                    </li>
                </ul>
                <% } else { %>
                    <p>User Hasn't Added Any Games Yet</p>
                    <button class="button is-link is-outlined is-rounded is-small show" value="Edit Profile"><a class="edit-btn" href="/users/library">Library</a></button>
        <% } %>

<%- include('../_partials/footer') %>       

