<%- include('../_partials/head') %>
    <section class="hero is-success">
        <div class="hero-body">
            <div class="container">
                <article class="media">
                        <figure class="media-left">
                            <img class="avatar" src="<%= user.avatar %>">
                        </figure>
                            <h5><%= user.username %></h5>
                    </article>
                    <div class="all-properties">
                        <h6>Age:&nbsp&nbsp<span><%= user.age %></span></h6><br>
                        <h6>Gender:&nbsp&nbsp<span><%= user.gender %></span></h6><br>
                        <h6>Timezone:&nbsp&nbsp<span><%= user.timezone %></span></h6><br>
                        <% if ( user.platforms.length === 0 ) { %>
                            <p>No platforms added yet.</p>
                        <% } else { %>
                        <div class="platform-show">
                            <h6>Platforms</h6>
                                <% user.platforms.forEach( function(platform) { %>
                                    <li class="profile-platforms"><%= platform !== user.platforms[user.platforms.length -1] ? platform + ", " : platform %></li>
                                <% }) %>
                        </div>
                    </div>
                <% } %><br>
                <% if (user.id === loggedInUser.id ) { %>
                    <button class="button is-link is-outlined is-rounded is-small show" value="Edit Profile"><a class="edit-btn" href="/users/edit">Edit Profile</a></button>
                <% } %>
            </div>
        </div>
    </section>
    <hr style="color: #383F45">
    <h1>User Library:</h1>
        <% if (user.games.length) { %>
            <ul>
                <% user.games.forEach(function(game){ %>
                    <li>
                        
                        <a href="/games/<%= game.apiId %>">
                            <img src=<%= game.coverImage %>>
                            <p><%= game.title %></p>
                        </a>
                        <% if (user.id === loggedInUser.id ) { %>
                            <button class="button is-link is-outlined is-rounded is-small lib" value="Remove Game"><a class="edit-btn2" href="/users/<%= user.id %>/games/<%= game._id %>?_method=DELETE" method="post">Remove Game</a></button>
                        <% } %>
                        </li>
                    <br>
                <% }); %>
            </ul>
        <% } else { %>
            <p>User Hasn't Added Any Games Yet</p>
        <% } %>

<%- include('../_partials/footer') %>       

