<%- include('../_partials/head') %>
    <ul id="messages"></ul>
    <h4>Chatroom</h4>
        <!-- <img class="avatar" src="<%= user.avatar %>"><br><br> -->
    <!-- <textarea class="textarea" id="new-msg" placeholder="Type your message."></textarea><br><br> -->
    <!-- <button class="button is-hoverable is-link is-outlined is-rounded is-small edit" id="btn-send-msg" value=" Send Message ">Send Message</button> -->
    <div class="chat-sidebar">
        <div class="sidebar-name">
            <h2>Chat List</h2>
            <ul>
                <% users.forEach(function (user) { %>
                    <li><a href="javascript:register_popup('<%= user.username %>', '<%= user.username %>')"><img width="30" height="30" src="<%= user.avatar %>">
                        <form action="/chats/rooms?otherUser=<%= user.id %>" method="POST">
                            <button type="submit"><%= user.username %></button>
                        </form>
                    </a></li>
                <% }); %>
            </ul>
        </div>
</div>
    
<div class="chat-box">
    <!-- Enter chatroom into this DIV with boxes in each -->
    <h2>Chat Rooms</h2>
    <% rooms.forEach(function (room) { %>
        <div id="room-<%= room.id %>" class="chat-room">
            <% var otherUserIdx = room.users.findIndex(u => !u._id.equals(user.id)) %>
            <img width="10" height="10" id="chat-avatar" src="<%= room.users[otherUserIdx].avatar %>">
            <ul>
                <% room.chats.forEach(function(chat) { %>
                    <li>
                        <span class="chat-contents chat-time"><%= chat.createdAt.toLocaleString() %> </span>
                        <span class="chat-contents"><%= chat.username %>: &nbsp &nbsp <%= chat.message %></span>
                    </li>
                <% }); %>
            </ul>
            <input>
            <button onclick="sendChat('<%= room.id %>')">SEND</button>
        </div>
    <% }); %>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    var username = '<%= user.username %>';
</script>
<script src="/javascripts/chat.js"></script>
<%- include('../_partials/footer') %>



Collapse 