<%- include('../_partials/head') %>
    <h1>Chat</h1>
    <ul id="messages"></ul>
    <h2 id="user-name">
        <%= user.name %>
    </h2>
    <img class="avatar" src="<%= user.avatar %>">
    <br>
    <br>
    <textarea class="textarea" id="new-msg" placeholder="Type your message."></textarea>
    <br>
    <br>
    <button class="button is-hoverable is-link is-outlined is-rounded is-small edit" id="btn-send-msg" value=" Send Message ">Send Message</button>
    <div class="chat-sidebar">
        <div class="sidebar-name">
            <!-- Pass username and display name to register popup -->
            <a href="javascript:register_popup('milcah', 'Milcah');">
                <img width="30" height="30" src="<%= user.avatar %>">
                <span>Milcah</span>
            </a>
        </div>
        <div class="sidebar-name">
            <a href="javascript:register_popup('eddie', 'Eddie');">
                <img width="30" height="30" src="<%= user.avatar %>">
                <span>Eddie</span>
            </a>
        </div>
        <div class="sidebar-name">
            <a href="javascript:register_popup('mike', 'Mike');">
                <img width="30" height="30" src="<%= user.avatar %>">
                <span>Mike</span>
            </a>
        </div>
        <div class="sidebar-name">
            <a href="javascript:register_popup('cait', 'Cait');">
                <img width="30" height="30" src="<%= user.avatar %>">
                <span>Cait</span>
            </a>
        </div>
        <div class="sidebar-name">
            <a href="javascript:register_popup('user.name', 'user.name');">
                <img width="30" height="30" src="<%= user.avatar %>">
                <span>user.name</span>
            </a>
        </div>
        <div class="sidebar-name">
            <a href="javascript:register_popup('user.name', 'user.name');">
                <img width="30" height="30" src="<%= user.avatar %>">
                <span>user.name</span>
            </a>
        </div>
    </div>
<%- include('../_partials/footer') %>