<%- include('../_partials/head') %>
    <ul id="messages"></ul>
    <h4>Chatroom</h4>
        <!-- <img class="avatar" src="<%= user.avatar %>"><br><br> -->
    <!-- <textarea class="textarea" id="new-msg" placeholder="Type your message."></textarea><br><br> -->
    <!-- <button class="button is-hoverable is-link is-outlined is-rounded is-small edit" id="btn-send-msg" value=" Send Message ">Send Message</button> -->
    <div class="chat-sidebar">
        <div class="sidebar-name">
            <h2>Chat List</h2>
            <ul>
                <% users.forEach(function (user) { %>
                    <li>
                        <a href="javascript:register_popup('<%= user.username %>', '<%= user.username %>')"><img width="30" height="30" src="<%= user.avatar %>">
                        <form action="/chats/rooms?otherUser=<%= user.id %>" method="POST">
                            <button type="submit"><%= user.username %></button>
                        </form>
                        </a>
                    </li>
                <% }); %>
            </ul>
        </div>
</div>
    
<div class="chat-box">
    <!-- Enter chatroom into this DIV with boxes in each -->
    <h2>Chat Rooms</h2>
    <% rooms.forEach(function (room) { %>
        <div id="room-<%= room.id %>" class="chat-room card">
            <% var otherUserIdx = room.users.findIndex(u => !u._id.equals(user.id)) %>
            <img id="chat-avatar" src="<%= room.users[otherUserIdx].avatar %>">
            <h2 id="chat-username"><%= room.users[otherUserIdx].username %></h1>
            <ul>
                <% room.chats.forEach(function(chat) { %>
                    <li id="chat-li" class="<%= chat.username === user.username ? 'user-chat' : 'guest-chat' %>">
                        <br><br>
                        <% var dt = chat.createdAt %>
                        <span class="chat-contents chat-time"><%= `${dt.getMonth() + 1}/${dt.getDate()}/${dt.getFullYear()} ${dt.getHours() % 12 || 12}:${dt.getMinutes() < 10 ? '0' + dt.getMinutes() : dt.getMinutes()} ${dt.getHours() >= 12 ? 'pm' : 'am'}` %></span>
                        <span class="chat-contents"><strong class="chat-contents"><%= chat.username === user.username ? '' : room.users[otherUserIdx].username %></strong>&nbsp <%= chat.message %></span>
                    </li>
                <% }); %>
            </ul>
            <input class="textarea" id="chat-submit">
            <button id="chat-btn"class="button is-small is-outiined" onclick="sendChat('<%= room.id %>')">SEND</button>
            
            <a class="button is-link is-outlined is-rounded is-small remove" href="/chats/rooms/<%= room.id %>?_method=DELETE">Delete Room</a>
            
        </div>
    <% }); %>
</div>  

<script src="/socket.io/socket.io.js"></script>
<script>
    var username = '<%= user.username %>';
</script>
<script src="/javascripts/chat.js"></script>
<%- include('../_partials/footer') %>
